@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body{  
  font-size: 16px;
  font-family: 'open_sanslight';
}

a, a:hover, a:link, a:active{
  text-decoration: none;

}

a:hover{
  color: #333486;
}

.cma-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.cma-header-logo {
  font-family: 'open_sanslight', sans-serif;
  font-size: 2.25rem;
}

.cma-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'open_sanslight', sans-serif;
}

.cma-main-body{
  background-color: #f2f2f2;
  padding: 10px;
}

.service-title{
  font-size:18px;
  padding-top:5px;
}

.cma-center{
  margin: 0 auto;
}

.cma-title-white{
  color: #fff;
}

.cma-bg-mixed{
  background-image: linear-gradient(-120deg, #333486, #d22030);
}

.cma-paragraph-white{
  color: #fff;
  font-size: 18px;
  font-family: 'open_sanslight';
}

.cma-paragraph-white p{
    color: #fff;
    font-size: 18px;
    font-family: 'open_sanslight';
}

.cma-icon-holder{
  margin: 20px 0 30px;
}

.cma-sub-title{
  font-weight: bold;  
  font-size: 18px;
  font-family: 'open_sanslight';
  margin: 5px 0;
}

.cma-title-dark{
  color: #222;
  font-weight: bold;
  font-size: 18px;
  margin: 5px 0;
}

.cma-input-form{
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border: 2px solid #ccc;
}

.white{
  color: white;
}

.cma-title-red{
  color: #db1c2b;
}

a.cma-solid-bottom:hover {
    color: #db1c2b;
    background: none;
    border: none;
    font-weight: bold;
    border-bottom: 4px solid black;
    padding: 0 0 3px 0;
    font-size: 18px;
}

.cma-input-btn, .gform_button{
  background: none;
  border: none;
  font-weight: bold;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  border-bottom: 4px solid #db1c2b;
  padding: 0 0 3px 0;
  font-size: 18px;
  cursor: pointer;
  margin: 0 auto;
}

input[type="submit"]:hover {
  background: none;
  border: none;
  font-weight: bold;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  border-bottom: 4px solid black;
  padding: 0 0 3px 0;
  font-size: 18px;
  cursor: pointer;
  margin: 0 auto;
  color: #db1c2b;
}

.gform_wrapper .gform_footer {
    padding: 16px 0 10px;
    margin: 20px 0 0;
    clear: both;
    width: 100%;
    text-align: center;
}

.cma-solid-bottom{
  color: black;
  background: none;
  border: none;
  font-weight: bold;
  border-bottom: 4px solid #db1c2b;
  padding: 0 0 3px 0;
  font-size: 18px;
}

.cma-paragraph-normal{
  font-size: 20px;
  color: #444;
  margin: 30px 0;
}

.cma-why-container{
  margin: 30px 20px;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;

}

.cma-paragraph-why{
  font-size: 20px;
  color: #444;
  margin: 5px 0;
}

.list-group{
  background: none;
}

.list-group-item, .menu-item {
    position: relative;
    display: block;
    padding: .25rem .15rem;
    margin-bottom: -1px;
    background-color: none !important;
    background: none;
    border: none;
    font-size: 14px;
}

/*
.mobilemain .sub-menu a {
    font-weight: normal;
}
*/

.text-bold{
  font-weight: bold;
}

.list-group-item a{
  color: #333;
}

.text-dark{
  font-weight: bold;
}

.cma-logo{
  margin-bottom: 20px; 
}

.cma-title-normal{
  margin: 20px 0;
}


.img-circle{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
}

/*
 * cma name and description
 */
.cma-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.cma-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .cma-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.cma-pagination {
  margin-bottom: 4rem;
}
.cma-pagination > .btn {
  border-radius: 2rem;
}

/*
 * cma posts
 */
.cma-post {
  margin-bottom: 4rem;
}
.cma-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.cma-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.cma-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.cma-footer p:last-child {
  margin-bottom: 0;
}



.mobilemain .menu-item a{
  color: white;

}

.mobilemain .menu-item-has-children{
  display: inline-block;
  top: 0;
  vertical-align:top;
  margin-right: 20px;
  margin-top: 10px;
  width: 135px;
}

.mobilemain .menu-item-has-children a{
  font-weight: bold;
}

.mobilemain .sub-menu{
  padding-left: 0;

}

.mobilemain .sub-menu a{
  font-weight: normal;
}

.mobilemain .sub-menu a:hover{
  font-weight: normal;
  color: #db1c2b;
}

.list-group-item a:hover {
    color: #db1c2b;
}

.main_menu_top{
  position: relative;
}

.header_location{
    width: 200px;
    float: right;
    position: relative;
    top: -226px;
    color: white;
    font-weight: bold;
}

.header_location ul li a{
  color: white;
  font-weight: normal;
}

.company_address p{
  margin: 0;
  font-size: 16px;
  color: #999;
}



.mobilemenu.show{
  display: block;
  animation-delay: 2s;
}

.gfield_html_formatted{
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
}

.gform_wrapper li input, .gform_wrapper li textarea{
  border: 2px solid #ebebeb;
}

@media screen and (min-width: 768px){
  .mobilemenu {
      /*background-color: rgba(255, 255, 255, 0.5);*/
      background-image: linear-gradient(-120deg, rgba(51,52,134,0.5), rgba(210,32,48,0.5));
      position: absolute;    
      margin-top: 15px;
      right: -75px;    
      height: 562px;
      width: 50%;
      padding: 30px 40px 60px 40px;
      /*overflow-y: auto;*/
      z-index: 100001;    
      display: block;
  }


  .gform_button{
        background: none;
        border: none;
        font-weight: bold;
        font-smoothing: antialiased;
        -webkit-font-smoothing: antialiased;
        border-bottom: 4px solid #db1c2b;
        padding: 0 0 3px 0;
        font-size: 16px;
        cursor: pointer;
        margin: 0 auto;
        
      }

      input[type="submit"]:hover {
        background: none;
        border: none;
        font-weight: bold;
        font-smoothing: antialiased;
        -webkit-font-smoothing: antialiased;
        border-bottom: 4px solid black;
        padding: 0 0 3px 0;
        font-size: 18px;
        cursor: pointer;
        margin: 0 auto;
        color: #db1c2b;
      }



}

@media screen and (max-width: 767px) {
    .mobilemenu {
        /* background-color: rgba(255, 255, 255, 0.5); */
        background-image: linear-gradient(-120deg, rgba(51,52,134,0.5), rgba(210,32,48,0.5));
        position: absolute;
        margin-top: 15px;
        right: 0;
        height: 300px;
        width: 100%;
        padding: 30px 10px 20px 10px;
        overflow-y: auto;
        z-index: 100001;    
        display: block;
    }

    .mobilemain{
        padding: 5px 0 0;
        margin-top: -30px;
    }

    .mobilemain .menu-item-has-children {
        display: inline-block;
        top: 0;
        vertical-align: top;
        margin-right: 5px;
        margin-top: 10px;
        width: 112px;
    }

    .cma-title-red {
        color: #db1c2b;
        font-size: 28px;
        padding: 10px;
    }

    p {
        font-size: 16px;
        color: #444;
        margin: 0;
        padding: 0;
    }

    .cma-paragraph-white p{
        color: #fff;
        font-size: 16px;
        font-family: 'open_sanslight';
    }

    .cma-paragraph-normal {
        font-size: 16px;
        color: #444;
        margin: 20px 0;
        padding: 10px;
    }

    .h1, h1 {
        font-size: 1.5rem;
    }

    .img-circle{
      width: 90px;
      height: auto;

    }

    .service-title {
        font-size: 16px;
        padding-top: 5px;
    }

    .cma-solid-bottom {
        color: black;
        background: none;
        border: none;
        font-weight: bold;
        border-bottom: 4px solid #db1c2b;
        padding: 0 0 3px 0;
        font-size: 16px;
    }

    .gform_button{
        background: none;
        border: none;
        font-weight: bold;
        font-smoothing: antialiased;
        -webkit-font-smoothing: antialiased;
        border-bottom: 4px solid #db1c2b;
        padding: 0 0 3px 0;
        font-size: 18px;
        cursor: pointer;
        margin: 0 auto;
        
      }

      input[type="submit"]:hover {
        background: none;
        border: none;
        font-weight: bold;
        font-smoothing: antialiased;
        -webkit-font-smoothing: antialiased;
        border-bottom: 4px solid black;
        padding: 0 0 3px 0;
        font-size: 18px;
        cursor: pointer;
        margin: 0 auto;
        color: #db1c2b;
      }

      .cma-logo img{
        height: 100px;
        width: auto;
      }

      .social_media{
        text-align: center;
      }

      .social_media ul {
            width: 165px;
            margin: 0 auto;
        }
     

      .social_media ul li{
        display: inline-block; 
        margin-top: 20px;
      }
}

.sitemap404 .menu-item a {
    color: #db1c2b;
}

.sitemap404 .menu-item-has-children {
    display: inline-block;
    top: 0;
    vertical-align: top;
    margin-right: 20px;
    margin-top: 10px;
    width: 135px;
}

.sitemap404 .menu-item-has-children a {
    font-weight: bold;
}

.sitemap404 .sub-menu a {
    font-weight: normal;
}

#primaryNav {
    margin: 50px 0 0;
    float: left;
    width: 100%;
}


.mobilemenu{
  display: none;
}